.body_sizechart{
    overflow: hidden; 
    position: relative;
}
.body_sizechart:after {
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    content: "";
    width: 100%; height: 100%; left: 0; top: 0;
}
img.ocscw_loader {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999999999;
}


/*create popupbutton*/
.ocscw_btn {
    width: 100%;
    display: inline-block;
    float: left;
}
.ocscw_open{
    width: auto;
    padding: 0 20px;
    height: 40px;
    margin: 5px 0px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    outline: none;
}
/*end create popupbutton*/


/*create popup*/
.ocscw_sizechart_main {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
.ocscw_sizechart_content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 45%;
    border-radius: 5px;
    padding: 20px;
}
.ocscw_popup_header {
    width: 100%;
    display: inline-block;
    float: left;
    position: relative;
}
.ocscw_popup_header h1 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
    line-height: 20px;
    text-transform: capitalize;
}
.ocscw_popup_close {
    font-size: 23px;
    font-weight: bold;
    position: absolute;
    right: -29px;
    top: -30px;
    height: 28px;
    line-height: 22px;
    width: 27px;
    vertical-align: middle;
    background-color: #fff;
    text-align: center;
    color: #000;
    z-index: 9999999;
    border-radius: 50%;
    font-family: arial;
    border: 4px solid #000000;
}
.ocscw_popup_close:hover, .ocscw_popup_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.ocscw_popup_body {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}
.ocscw_popup_body table {
    margin: 0px;
}
/*end create popup*/





/*create extra tab*/
.ocscw_tab_header {
    width: 100%;
    display: inline-block;
    float: left;
    position: relative;
}
.ocscw_tab_header h1 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
    line-height: 20px;
}
.ocscw_tab_body {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}
.ocscw_tab_body table {
    margin: 0px;
}
.ocscw_popup_padding_div ul {
    margin: 0px 0 0 20px;
}
.ocscw_child_div ul {
    margin: 0px 0 0 20px;
}
/*end create extra tab*/













ul.ocscw_front_tabs {
    margin: 0px 15px 0px 15px;
    padding: 0px;
    list-style: none;
    border-bottom: 1px solid #777;
    font-size: 17px;
}
ul.ocscw_front_tabs li {
    display: inline-block;
    border-radius: 4px 4px 0 0;
    padding: 6px 10px;
    text-transform: capitalize;
    font-weight: 500;
}
ul.ocscw_front_tabs li.current {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #777;
    border-bottom-color: transparent;
    margin-bottom: -1px;
}
.ocscw_front_tab_content {
    display: none;
    padding: 15px;
    margin: 0px 15px 0px 15px;
    border: 1px solid #777;
    border-top: 0px;
    font-size: 17px;
}
.ocscw_front_tab_content.current{
    display: inherit;
}
body .ocscw_front_tab_content h2 {
    margin: 0px 0px 10px 0px !important;
    padding: 10px 10px !important;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px !important;
}
.ocscw_tableclass h2:before, .ocscw_tableclass h1:before{
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
}
.ocscw_tableclass table tr td {
    background-color: transparent!important;
    padding: 5px;
    font-size: 15px;
}


@media only screen and (max-width: 767px) {
    .ocscw_sizechart_content {
        width: 90%;
    }
    .ocscw_front_tab_content {
        overflow: hidden;
    }
    .ocscw_child_div {
        overflow: auto;
        width: 100%;
    }
    ul.ocscw_front_tabs li.current {
        border: none;
        background-color: #ccc;
    }
    ul.ocscw_front_tabs li {
        border-radius: 0px; 
        width: 100%;
        text-align: center;
    }
    ul.ocscw_front_tabs {
        margin: 0px;
        border-bottom: 1px solid #777;
    }
    .ocscw_front_tab_content {
        margin: 0px;
        border: none;
    }
    .ocscw_popup_padding_div {
        border: 1px solid #777;
    }
    .ocscw_child_div ul {
        margin: 0px;
    }
}